mode: standalone
image:
  registry: registry-1.docker.io
  repository: bitnami/minio
auth:
  rootUser: admin
  rootPassword: changeme
persistence:
  enabled: true
  size: 10Gi
service:
  type: ClusterIP
ingress:
  enabled: false
